<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据查询与管理</title>
    <meta charset="UTF-8">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/PCUEditor/ueditor.config.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/PCUEditor/ueditor.all.js"> </script>
    <style>
        div[DTRow] {
            margin-top: 10px;
        }
    </style>
</head>
<body class="container-full">
<datalist id="QsSourceList">
    {volist name="QsSourceList" id="v"}
    <option value="{$v.SourceName}">{$v.CodePre}</option>
    {/volist}
</datalist>
<datalist id="CorpList">
    {volist name="CorpList" id="v"}
    <option value="{$v.Corp}">{$v.id}</option>
    {/volist}
</datalist>
<datalist id="UserList">
    {volist name="UserList" id="v"}
    <option value="{$v.Name}">{$v.Corp}</option>
    {/volist}
</datalist>
{php}
    $TreeMng = new app\safetymng\controller\TreeMng();
{/php}
<div id="myTabContent" class="tab-content">
    <div class="form-group">
        <div class="col-sm-12">
            <div class="alert alert-success" role="alert"><strong>提示：</strong>资料查询页面.</div>
        </div>
    </div>
        <div class="col-sm-10 col-sm-offset-1" style="margin-bottom: 10px;">
            <form method="post" action="/SafetyMng/DataMng/DataQuery.html">
                <div class="row" DTRow>
                    <div class="col-sm-1"><label class="control-label" for="qDataType">资料类型:</label></div>
                    <div class="col-sm-4">
                        <select class="form-control js-example-basic-multiple js-states " name="qDataType" id="qDataType">
                            <option ></option>
                            {volist name="DataTypeList" id="vo"}
                            <option value="{$vo.KeyName}" {eq name="$Think.post.qDataType" value="$vo['KeyName']" } selected {/eq}>{$vo.KeyName}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="col-sm-1 col-sm-offset-1"><label>资料名称:</label></div>
                    <div class="col-sm-4"><input class="form-control" name="qDataName" id="qDataName" value="{$Think.post.qDataName}"/></div>
                    <div class="col-sm-1"><button type="submit" class="btn btn-warning">搜索</button></div>
                </div>
                <div class="row" DTRow>
                    <div class="col-sm-1"><label class="control-label" for="qDataCode">编号:</label></div>
                    <div class="col-sm-4"><input class="form-control" name="qDataCode" id="qDataCode" value="{$Think.post.qDataCode}"/></div>
                    <div class="col-sm-1 col-sm-offset-1"><label class="control-label" for="qDataVer">版本:</label></div>
                    <div class="col-sm-4"><input class="form-control" name="qDataVer" id="qDataVer" value="{$Think.post.qDataVer}"/></div>
                </div>
                <div class="row" DTRow>
                    <div class="col-sm-1 "><label>上传人:</label></div>
                    <div class="col-sm-4"><input class="form-control" list="UserList" name="AdderName" id="AdderName" value="{$Think.post.AdderName}"/></div>
                    <div class="col-sm-1 col-sm-offset-1"><label>上传日期:</label></div>
                    <div class="col-sm-2"><input Date class="form-control" name="SDate" id="SDate" value="{$Think.post.SDate}"/></div>
                    <div class="col-sm-2"><input Date class="form-control" name="EDate" id="EDate" value="{$Think.post.EDate}"/></div>
                </div>

            </form>
        </div>

        <div class="row" DTRow style="margin-top: 10px;">
            <table id="table" class="table table-bordered table-hover"
                   data-toggle="table"
                   data-classes="table table-hover"
                   data-show-columns="true"
                   data-striped="true"
                   data-show-toggle="true"
                   data-search="true"
                   data-show-refresh="true"
                   data-toolbar="#toolbar"
                   data-height="500">
                <thead>
                <tr>
                    <th style="width: 50px;">序号</th>
                    <th class="col-sm-1">资料类型</th>
                    <th class="col-sm-2">资料编号</th>
                    <th class="col-sm-4">资料名称</th>
                    <th class="">版本</th>
                    <th class="">有效性</th>
                    <th>上传人</th>
                    <th>上传日期</th>
                    {eq name="$IsSuperCorp" value="true"}
                        <th>修订</th>
                        <th>删除</th>
                    {/eq}

                </tr>
                </thead>
                <tbody>
                {php}
                $CT = new app\safetymng\controller\CheckTask();
                $TC = new app\safetymng\controller\TaskCore();
                {/php}
                {volist name="DataRet" id="vo"}
                <tr>
                    <td>{++$QsCnt}</td>
                    <td>{$vo.DataType}</td>
                    <td>
                        {$vo.DataCode}
                    </td>
                    <td>
                        <a QsHover  QsID="{$vo.id}">{$vo.DataName}</a></td>
                    <td>{$vo.DataVer}</td>
                    <td>
                        {eq name="$vo.IsValid" value="YES"}
                            <label class="label label-success">有效</label>
                        {/eq}
                        {eq name="$vo.IsValid" value="NO"}
                            <label class="label label-danger">失效</label>
                        {/eq}
                        {eq name="$vo.IsValid" value="CK"}
                        <label class="label label-warning">参考资料</label>
                        {/eq}
                    </td>
                    <td>{$vo.AdderName}</td>
                    <td>{$vo.AddTime}</td>
                    {eq name="$IsSuperCorp"  value="true"}
                        <td><a href="" XDID="{$vo.id}">修订</a></td>
                        <td><a href="" DataID="{$vo.id}">删除</a></td>
                    {/eq}
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
<script>
    function PCUEditorInit(id) {
        var editor = UE.getEditor(id,{
            //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
            serverUrl: "{:url('SafetyMng/UEditorGYHelp/index')}",
            toolbars: [
                [
                    'undo', //撤销
                    'redo', //重做
                    'bold', //加粗
                    'indent', //首行缩进
                    'italic', //斜体
                    'subscript', //下标
                    'fontborder', //字符边框
                    'preview', //预览
                    'horizontal', //分隔线
                    'cleardoc', //清空文档
                    'fontfamily', //字体
                    'fontsize' //字号
                ],[
                    'simpleupload', //单图上传
                    'insertimage', //多图上传
                    'emotion', //表情
                    'spechars', //特殊字符
                    'searchreplace', //查询替换
                    'map', //Baidu地图
                    'insertvideo', //视频
                    'justifyleft', //居左对齐
                    'justifyright', //居右对齐
                    'justifycenter', //居中对齐
                    'justifyjustify', //两端对齐
                    'forecolor', //字体颜色
                    'backcolor' //背景色
                ],[
                    'insertorderedlist', //有序列表
                    'insertunorderedlist', //无序列表
                    'fullscreen', //全屏
                    'attachment', //附件
                    'imagecenter', //居中
                    'background', //背景
                    'template', //模板
                    'scrawl', //涂鸦
                    'inserttable', //插入表格
                ]

            ],
            //focus时自动清空初始化时的内容
            autoFloatEnabled:false,
            //关闭字数统计
            wordCount:false,
            //关闭elementPath
            elementPathEnabled:false,
            //默认的编辑区域高度
            initialFrameHeight:300
            //更多其他参数，请参考ueditor.config.js中的配置项
        });
    }
    $(function () {
        PCUEditorInit('DataInfo');

        $(document).bind("contextmenu",function(e){
            return false;});

        $('a[QsHover]').mousedown(function(e){
            if(3 == e.which){
                window.open( '/SafetyMng/DataMng/showDataPage/id/'+$(this).attr('QsID'));
            }else if(1 == e.which){
                layer.closeAll();
                layer.open({
                    type: 2,
                    title: false,
                    closeBtn: 0, //不显示关闭按钮
                    shade: [0],
                    area: ['500px', '550px'],
                    offset: 'rb', //右下角弹出
                    shadeClose:true,
                    anim: 2,
                    content: '/SafetyMng/DataMng/showDataPage/id/'+$(this).attr('QsID'), //iframe的url，no代表不显示滚动条
                    end: function(){ //此处用于演示

                    }
                });
            }
        });
        {eq name="$IsSuperCorp" value="true"}
            $('a[DataID]').mousedown(function(e){
                layer.closeAll();
                layer.open({
                    type: 2,
                    title: false,
                    closeBtn: 0, //不显示关闭按钮
                    shade: [0],
                    area: ['500px', '450px'],
                    shadeClose:true,
                    content: '/SafetyMng/DataMng/showDelData/id/'+$(this).attr('DataID'), //iframe的url，no代表不显示滚动条
                    end: function(){ //此处用于演示
                        window.location.reload();
                    }
                });
            });
            $('a[XDID]').mousedown(function(e){
                window.open('/SafetyMng/DataMng/showDataMdf/id/'+$(this).attr('XDID'));
                });
        {/eq}


        $('input[Date]').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            pickerPosition: 'bottom-left',
            showMeridian: 1
            , minView: "month"
        });
    });

</script>
</body>
</html>