<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>风险查询</title>
    <script src="__PUBLIC__/js/vue.js"></script>
    <script src="__PUBLIC__/js/axios.min.js"></script>
    <style>
        div[DTRow] {
            margin-top: 10px;
        }

    </style>
</head>
<body class="container-fluid">
<datalist id="QsSourceList">
    {volist name="QsSourceList" id="v"}
    <option value="{$v.SourceName}">{$v.CodePre}</option>
    {/volist}
</datalist>
<datalist id="CorpList">
    {volist name="CorpList" id="v"}
    <option value="{$v.Corp}">{$v.id}</option>
    {/volist}
</datalist>
<datalist id="CorpList2">

</datalist>
<datalist id="UserList">
    {volist name="UserList" id="v"}
    <option value="{$v.Name}">{$v.Corp}</option>
    {/volist}
</datalist>
<datalist id="PDJG">
    <option value="危险源"></option>
    <option value="安全隐患"></option>
    <option value="安全信息"></option>
    <option value="尚未判定"></option>
    <option value="全部"></option>
</datalist>
{php}
$TreeMng = new app\safetymng\controller\TreeMng();
{/php}
<div id="myTabContent" class="tab-content">

    <div class="tab-pane active" id="home1" style="">
        <div class="form-group">

        <div class="alert alert-success col-sm-12" role="alert"><strong>提示：</strong>风险查询</div>

        </div>
         <form id="QsForm" action="/SafetyMng/lgyQuery/FXQry.html" method="post" enctype="application/x-www-form-urlencoded">
             <input type="hidden" id="QsLabelCalc" name="QsLabelCalc" value="">
            <div class="col-sm-10 col-sm-offset-1" style="margin-bottom: 10px;">
                <div class="row" DTRow>
                    <div class="col-sm-1"><label class="control-label" for="QsSource">风险来源:</label></div>
                    <div class="col-sm-4"><input class="form-control" name="QsSource" id="QsSource" list="QsSourceList" value="{$Think.post.QsSource}"/></div>
                    <div class="col-sm-1 col-sm-offset-1"><label>风险代码:</label></div>
                    <div class="col-sm-2">
                        <input class="form-control" name="FXCode" id="FXCode" value="{$Think.post.FXCode}"/>
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" name="JudgeType" id="JudgeType" list="PDJG" placeholder="判定结果" value="{$Think.post.JudgeType}"/>
                    </div>
                    <div class="col-sm-1"><a QsSearch class="btn btn-warning">搜索</a></div>
                </div>
                <div class="row" DTRow>
                    <div class="col-sm-1"><label class="control-label" >风险描述:</label></div>
                    <div class="col-sm-4"><input class="form-control" name="FXMS" id="FXMS" value="{$Think.post.FXMS}"/></div>
                    <div class="col-sm-1 col-sm-offset-1"><label for="WHMS">危害描述:</label></div>
                    <div class="col-sm-4"><input class="form-control" name="WHMS" id="WHMS" value="{$Think.post.WHMS}"/></div>
                    </div>
                <div class="row" DTRow>
                    <div class="col-sm-1 "><label>识别判定:</label></div>
                    <div class="col-sm-2"><input class="form-control" list="UserList" name="CreaterName" id="CreaterName" placeholder="识别人" value="{$Think.post.CreaterName}"/></div>
                    <div class="col-sm-2"><input class="form-control" list="UserList" name="Judger" id="Judger" placeholder="判定人" value="{$Think.post.Judger}"/></div>
                    <div class="col-sm-1 col-sm-offset-1"><label>识别日期:</label></div>
                    <div class="col-sm-2"><input type="date" class="form-control" name="SDate1" id="SDate1" value="{$Think.post.SDate1}"/></div>
                    <div class="col-sm-2"><input type="date" class="form-control" name="EDate1" id="EDate1" value="{$Think.post.EDate1}"/></div>
                </div>
                <div class="row" DTRow>
                    <div class="col-sm-1 "><label class="control-label " for="DutyCorp1">风险部门:</label></div>
                    <div class="col-sm-2"><input class="form-control" autocomplete="off" name="DutyCorp1" id="DutyCorp1" placeholder="父部门" list="CorpList" value="{$Think.post.DutyCorp1}" /></div>
                    <div class="col-sm-2"><input class="form-control" autocomplete="off" name="DutyCorp2" id="DutyCorp2" placeholder="子部门" list="CorpList2" value="{$Think.post.DutyCorp2}" /></div>

                    <div class="col-sm-1 col-sm-offset-1"><label>判定日期:</label></div>
                    <div class="col-sm-2"><input type="date" class="form-control" name="SDate2" id="SDate2" value="{$Think.post.SDate2}"/></div>
                    <div class="col-sm-2"><input type="date" class="form-control" name="EDate2" id="EDate2" value="{$Think.post.EDate2}"/></div>
                </div>
            </div>
         </form>
        <div class="row" DTRow style="margin-top: 10px;">
            <table id="table" class="table table-hover"
                   data-toggle="table"
            data-classes="table table-hover"
            data-show-columns="true"
            data-striped="true"
            data-show-toggle="true"
            data-search="true"
            data-show-refresh="true"
            data-toolbar="#toolbar"
            data-height="500">

            <thead>
                <tr>
                    <th>序号</th>
                    <th >风险代码</th>
                    <th >风险类别</th>
                    <th style="width: 100px;">对应部门</th>
                    <th >风险描述</th>
                    <th>危害描述</th>
                    <th style="width: 80px;">识别人</th>
                    <th >识别日期</th>
                    <th style="width: 80px;">判定人</th>
                    <th>判定日期</th>
                    <th>关联的问题</th>
                </tr>
                </thead>
                <tbody>
                {volist name="FXList" id="vo"}
                <tr>
                    <td>{++$QsCnt}</td>
                    <td><label class="label label-default">{$vo.FXCode}</label></td>
                    <td>
                        <label class="label label-{php}
                           if($vo['FXJudgeType']=='危险源'){
                                echo 'info';
                           }else if($vo['FXJudgeType']=='安全隐患'){
                                echo 'danger';
                           }else{
                                echo 'default';
                           }
                        {/php}"><a>{$vo.FXJudgeType}</a></label>
                    </td>
                    <td>
                        {$vo.Corp}
                    </td>
                    <td>{$vo.FXMS}</td>
                    <td>{$vo.WHMS}</td>
                    <td>{$vo.CreaterName}</td>
                    <td>{$vo.CreateTime}</td>
                    <td>{$vo.JudgePerson}</td>
                    <td>{$vo.JudgeTime}</td>
                    <td><a QsHover QsID="{$vo.RelatedID}">查看</a></td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>

    </div>

</div>
<script>

    function updateDutyCorp2() {
        $v = $('#DutyCorp1').val();
        axios({
            method: 'get',
            url: '/SafetyMng/CorpMng/GetCorpAllLevelChildrenRows_JSON/ParentCorp/'+$v,
            data: ''
        }).then(function (response) {
            List = response.data;
            $('#CorpList2').empty();
            for(i=0;i<List.length;i++){
                vv = List[i];
                $("<option value='"+vv+"'>"+vv+"</option>").appendTo('#CorpList2');
            }
            $("<option value='全部'>全部</option>").appendTo('#CorpList2');
        }).catch(function (error) {

        });
    }

    $(function () {
        $('a[QsHover]').mousedown(function(e){
            if(3 == e.which){
                window.open( '/SafetyMng/QuestionInput/showQuestionInfoWithoutLayout/id/'+$(this).attr('QsID'));
            }else if(1 == e.which){
                layer.closeAll();
                layer.open({
                    type: 2,
                    title: false,
                    closeBtn: 0, //不显示关闭按钮
                    shade: [0],
                    area: ['500px', '600px'],
                    offset: 'rb', //右下角弹出
                    shadeClose:true,
                    anim: 2,
                    content: '/SafetyMng/QuestionInput/showQuestionInfoWithoutLayout/id/'+$(this).attr('QsID'), //iframe的url，no代表不显示滚动条
                    end: function(){ //此处用于演示

                    }
                });
            }
        });

        $('a[QsSearch]').click(function () {
            $('#QsForm').submit();
        });

        updateDutyCorp2();

        $('#DutyCorp1').change(function () {
            updateDutyCorp2();
        })

        $('a[QsSearch]').click(function () {
            $('#QsForm').submit();
        });

    });

</script>
</body>
</html>