<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container-full">
<div style=" width:100%;margin-top: 20px;">
    <h2 style="text-align: center;">{$DCName}</h2>
    <hr/>
    <table class="table  bootstrap-datatable datatable table-hover responsive"  >
        <thead>
        <tr>
            <th style="width: 20px;">序号</th>
            <th style="width: 120px;">检查项目</th>
            <th class="col-sm-3">问题标题</th>
            <th style="width: 80px;">检查人</th>
            <th style="width: 80px;">问题单位</th>
            <th class="col-sm-1">通知书状态</th>
            <th >纠正措施</th>
            <th style="width: 100px;">纠正期限</th>
            <th >预防措施</th>
            <th style="width: 100px;">预防期限</th>
        </thead>
        <tbody >
        {php}
        $RF = new app\safetymng\controller\Reform();
        {/php}
        {volist name="ZXDCRetList" id="vo"}
        <tr >
            <td>
                {++$xh1}
            </td>
            <td>
                {$vo.CheckSubject}
            </td>

            <td>
                <a href="javascript:;" showTaskCoreInfo TaskID = "{$vo.RelatedTaskID}">{$vo.QuestionTitle}</a>
            </td>
            <td>
                {$vo.Finder}
            </td>
            <td>
                {$vo.DutyCorp}
            </td>
            <td><label class="label label-{php}echo $RF->GetReformStatusColor($vo['ReformStatus']);{/php}">{$vo.ReformStatus}<label></td>
            <td>
                {$vo.CorrectiveAction}
            </td>
            <td>
                {$vo.CorrectiveDeadline}
            </td>
            <td>
                {$vo.PrecautionAction}
            </td>
            <td>
                {$vo.PrecautionDeadline}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
<script>
    $(function () {
        $(document).bind("contextmenu",function(e){
            return false;});

        $('a[TaskID]').mousedown(function(e){
            if(3 == e.which){
                window.open( '/SafetyMng/TaskCore/showTaskCoreInfoPage/TaskID/'+$(this).attr('TaskID'));
            }else if(1 == e.which){
                layer.open({
                    type: 2,
                    title: false,
                    area: ['680px', '750px'],
                    shade: 0.8,
                    closeBtn: 0,
                    scrollbar: false,
                    shadeClose: true,
                    content: '/SafetyMng/TaskCore/showTaskCoreInfoPage/TaskID/'+$(this).attr('TaskID')
                });
            }
        });


        });
</script>
</body>
</html>