{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link id="bs-css" href="__PUBLIC__/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href='__PUBLIC__/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link rel="stylesheet" href="__PUBLIC__/css/el-ui.css">
    <link href='__PUBLIC__/css/MyCss.css' rel='stylesheet'>

    <link href="__PUBLIC__/css/bootstrap-table.css" rel="stylesheet">

    <link href="__PUBLIC__/css/bootstrap-editable.css" rel="stylesheet">
    <link href="__PUBLIC__/css/ui-dialog.css" rel="stylesheet">
    <link href="__PUBLIC__/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap.js"></script>

    <script src="__PUBLIC__/js/bootstrap-datetimepicker.min.js"></script>

    <!-- library for cookie management -->
    <script src="__PUBLIC__/js/bootstrap-datetimepicker.zh-CN.js"></script>

    <!-- data table plugin -->

    <script src="__PUBLIC__/js/gyComm.js"></script>

    <link href="__PUBLIC__/css/select2.min.css" rel="stylesheet" />
    <script src="__PUBLIC__/js/select2.min.js"></script>
    <link href="__PUBLIC__/css/bootstrap-datetimepicker.css" rel="stylesheet">



    <script src="__PUBLIC__/js/GY.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
    <script src="__PUBLIC__/js/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.ztree.exhide.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/fuzzysearch.js"></script>

    <script type="text/javascript" src="__PUBLIC__/js/jquery.ztree.exedit.js"></script>
    <script src="__PUBLIC__/js/el-index.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/UEditor/ueditor.config.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/UEditor/ueditor.all.js"> </script>
    <style>
        div[ROW]{
            margin-top: 5px;
            padding: 0px;
        }
        span[BTLB]{
            font-weight: bold;
            color: #00A000;
        }

        label[BTLB]{
            font-weight: bold;
            color: #00A000;
        }
    </style>
</head>

<body class="container-full">
<!-- topbar starts -->
    <form id="form1" class="form-horizontal" role="form" enctype="multipart/form-data" method="post" action="/SafetyMng/QuestionInput/QuestionInput.html">
        <div class="form-group">
            <div class="col-xs-12" style="padding: 0px;">
                {eq name="Warning" value=""}<div class="alert alert-danger" role="alert"><strong>提示：</strong>安全信息录入页面。</div>{/eq}
                {neq name="Warning" value=""}<div class="alert alert-danger" role="alert"><strong>提示：</strong>{$Warning}</div>{/neq}
            </div>
        </div>
        <input type="hidden" name="CallBackURL" value="{$QsSel['CallBackURL']}">
        <div class="">
            <div class="row" ROW>
                <div class="col-xs-4">
                    <span  BTLB>安全信息来源：</span>
                </div>

                <div class="col-xs-7" style=";padding: 0px;">
                    <select class="form-control js-example-basic-multiple js-states " name="QuestionSourceName" id="QuestionSource">
                        <option ></option>
                        {volist name="QuestionSource" id="vo"}
                        <option value="{$vo.SourceName}" {eq name="$vo.SourceName" value="$QsSel['QuestionSourceName']" } selected {/eq}>{$vo.SourceName}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="row" ROW>
                <label class="control-label col-xs-4" BTLB>安全信息单位：</label>
                <div class="col-xs-7" style=";padding: 0px;">
                    <select class="form-control required"  name="RelatedCorp"   id="RelatedCorps" >
                        <option></option>
                        {volist name="CorpList" id="vo"}
                        <option value="{$vo.Corp}" {eq name="$vo.Corp" value="$QsSel['DutyCorp']" } selected {/eq}>{$vo.Corp}</option>
                        {/volist}
                    </select>
                </div>
            </div>


            <div class="row" ROW>
                <label class="control-label col-xs-4" BTLB>安全信息依据：</label>
                <div class="col-xs-7" style=";padding: 0px;">
                    <textarea type="text"  name="Basis" class="form-control" style="height: 150px;">{$QsSel['Basis']}</textarea>
                </div>
            </div>
            <div class="row" ROW>
                <label class="control-label col-xs-4" BTLB>发现人：</label>
                <div class="col-xs-7" style=";padding: 0px;">
                    <select class="form-control required"  name="Finder"  id="Finder" >
                        <option></option>
                        {volist name="UserList" id="vo"}
                        <option value="{$vo.Name}" {eq name="$vo.Name" value="$QsSel['Inspectors']" } selected {/eq}>{$vo.Name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="row" ROW>
                <label class="control-label col-xs-4" BTLB>发现日期：</label>
                <div class="col-xs-7"  style=";padding: 0px;">
                    <input type="date"  name="DateFound" class="form-control" value="{$Today}">
                </div>
            </div>
            <div class="row" ROW>
                <label class="control-label col-xs-4" BTLB>安全信息标题：</label>
                <div class="col-xs-7" style=";padding: 0px;">
                    <input type="text" class="form-control m-input" id="QuestionTitle" name="QuestionTitle" aria-describedby="" placeholder="" value="{if condition="$Request.param.QuestionTitle eq '' "}{$QsSel['QuestionSourceName']}-{$QsSel['CheckSubject']}-{else /}{$Request.param.QuestionTitle}{/if}" required>
                </div>
            </div>
            <div class="row" ROW>
                <label class="control-label col-xs-4" BTLB>接收部门：</label>
                <div class="col-xs-7">
                    <select class="form-control js-example-basic-multiple js-states " name="RecvCorp" id="RecvCorp">
                        {volist name="ZFCorpList" id="vo"}
                            <option value="{$vo}" >{$vo}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="row" ROW>
                <label class="control-label col-sm-4" BTLB>安全信息描述：</label>
                <div class="col-xs-12" style=";padding: 0px;">
                    <textarea id="editor1"   name="content" >{$Request.param.content}</textarea>
                </div>
            </div>
        </div>
                    <div class="row" ROW>
                        <div class="col-sm-offset-3 ">
                            <button type="submit" class="btn btn-primary" style="margin-left: 40%">提交安全信息</button>
                        </div>
                    </div>

    </form>
<script>

    function MBUEditorInit(id) {
        var editor = UE.getEditor(id,{
            //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
            serverUrl: "{:url('SafetyMng/UEditorGYHelp/index')}",
            toolbars: [
                [
                    'undo', //撤销
                    'redo', //重做
                    'bold', //加粗
                    'indent', //首行缩进
                    'italic', //斜体
                    'subscript', //下标
                    'fontborder', //字符边框
                    'preview', //预览
                    'horizontal', //分隔线
                    'cleardoc', //清空文档
                    'fontfamily', //字体
                    'fontsize' //字号
                ],[
                    'simpleupload', //单图上传
                    'insertimage', //多图上传
                    'emotion', //表情
                    'spechars', //特殊字符
                    'searchreplace', //查询替换
                    'map', //Baidu地图
                    'insertvideo', //视频
                    'justifyleft', //居左对齐
                    'justifyright', //居右对齐
                    'justifycenter', //居中对齐
                    'justifyjustify', //两端对齐
                    'forecolor', //字体颜色
                    'backcolor' //背景色
                ],[
                    'insertorderedlist', //有序列表
                    'insertunorderedlist', //无序列表
                    'fullscreen', //全屏
                    'attachment', //附件
                    'imagecenter', //居中
                    'background', //背景
                    'template', //模板
                    'scrawl', //涂鸦
                    'inserttable', //插入表格
                ]

            ],
            //focus时自动清空初始化时的内容
            autoFloatEnabled:false,
            //关闭字数统计
            wordCount:false,
            //关闭elementPath
            elementPathEnabled:false,
            //默认的编辑区域高度
            initialFrameHeight:300
            //更多其他参数，请参考ueditor.config.js中的配置项
        });
    }

    $(function () {
        MBUEditorInit('editor1');
    });


</script>

</body>
</html>
